.main-flex {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap
}

.main-flex--nowrap {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap
}

.flex--jcontent-between {
    justify-content: space-between;
    -webkit-justify-content: space-between
}

.flex--jcontent-start {
    justify-content: flex-start;
    -webkit-justify-content: flex-start
}

.flex--jcontent-end {
    justify-content: flex-end;
    -webkit-justify-content: flex-end
}

.flex--jcontent-center {
    justify-content: center;
    -webkit-justify-content: center
}

.flex--jcontent-around {
    justify-content: space-around;
    -webkit-justify-content: space-around
}

.flex--auto {
    flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto
}

.flex--align-items-start {
    align-items: flex-start;
    -webkit-align-items: flex-start
}

.flex--align-items-end {
    align-items: flex-end;
    -webkit-align-items: flex-end
}

.flex--align-items-baseline {
    align-items: baseline;
    -webkit-align-items: baseline
}

.flex--align-items-stretch {
    align-items: stretch;
    -webkit-align-items: stretch
}

.flex--align-items-center {
    align-items: center;
    -webkit-align-items: center
}

.flex--align-content-flex-start {
    align-content: flex-start;
    -webkit-align-content: flex-start
}

.flex--align-content-flex-end {
    align-content: flex-end;
    -webkit-align-content: flex-end
}

.flex--align-content-space-between {
    align-content: space-between;
    -webkit-align-content: space-between
}

.flex--align-content-center {
    align-content: center;
    -webkit-align-content: center
}

.flex--align-content-space-around {
    align-content: space-around;
    -webkit-align-content: space-around
}

.flex--align-content-stretch {
    align-content: stretch;
    -webkit-align-content: stretch
}

.flex--flex-grow-01 {
    flex-grow: 1;
    -webkit-flex-grow: 1
}

.flex--flex-grow-02 {
    flex-grow: 2;
    -webkit-flex-grow: 2
}

.flex--flex-grow-03 {
    flex-grow: 3;
    -webkit-flex-grow: 3
}

.flex--flex-grow-04 {
    flex-grow: 4;
    -webkit-flex-grow: 4
}

.w5 {
    width: 5%;
    max-width: 5%
}

.w10 {
    width: 10%;
    max-width: 10%
}

.w15 {
    width: 15%;
    max-width: 15%
}

.w20 {
    width: 20%;
    max-width: 20%
}

.w25 {
    width: 25%;
    max-width: 25%
}

.w30 {
    width: 30%;
    max-width: 30%
}

.w35 {
    width: 35%;
    max-width: 35%
}

.w40 {
    width: 40%;
    max-width: 40%
}

.w45 {
    width: 45%;
    max-width: 45%
}

.w50 {
    width: 50%;
    max-width: 50%
}

.w55 {
    width: 55%;
    max-width: 55%
}

.w60 {
    width: 30%;
    max-width: 60%
}

.w65 {
    width: 65%;
    max-width: 65%
}

.w70 {
    width: 70%;
    max-width: 70%
}

.w75 {
    width: 75%;
    max-width: 75%
}

.w80 {
    width: 80%;
    max-width: 80%
}

.w85 {
    width: 85%;
    max-width: 85%
}

.w90 {
    width: 90%;
    max-width: 90%
}

.w95 {
    width: 95%;
    max-width: 95%
}

.w100 {
    width: 100%;
    max-width: 100%
}

.main-flex--nowrap-reverse {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap
}